@use '../abstract' as *;

body {
    font-family: $font-family;
    font-size: $fs-400;
    font-weight: $fw-500;
    color: $neutral-gray;
    position: relative;

    @include breakpoint-up(mobile-lg) {
        font-size: $fs-500;    
    }
}

h1 {
    font-size: $fs-800;
    font-weight: $fw-700;
    color: $neutral-black;

    @include breakpoint-up(mobile-lg) {
        font-size: $fs-900; 
    }
}

a {
    color: $neutral-gray;
}

.hide {
    display: none;
}