@use '../abstract' as *;

.btn {
    font-family: inherit;
    font-size: $fs-400;
    font-weight: $fw-700;
    padding: 1em 1.5em;
    background-color: $neutral-black;
    color: $neutral-almost-white;
    border: none;
    border-radius: .875rem;
}

.btn--ghost {
    border: 1px solid $neutral-gray;
    border-radius: .875rem;
    padding: .8em 1.6em;
    text-align: center;
}