@use '../abstract' as *;

.btn {
    font-family: inherit;
    font-size: $fs-400;
    font-weight: $fw-700;
    padding: 1em 1.5em;
    background-color: $neutral-black;
    color: $neutral-almost-white;
    border: 2px solid transparent;
    border-radius: .875rem;

    &:hover, &:active {
        cursor: pointer;
        background-color: transparent;
        color: $neutral-black;
        border: 2px solid $neutral-gray;
    }
}

.btn--ghost {
    border: 2px solid $neutral-gray;
    border-radius: .875rem;
    padding: .8em 1.6em;
    text-align: center;
}